/* ---------------------------------- FONT ---------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header{
    background-color: #FFF9F4;
}
.cart{
    display: inline;
}

.header-content h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
}